{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ username }}{% endblock %}
{% block content %}
  <h1>Все посты пользователя: {{ username }}</h1>
  <h3>Всего постов: {{ post_amount }} </h3> 
    <div class="mb-5">
      {% if request.user != username %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
    </div>  
  {% for post in page_obj %}
    {% include 'includes/post.html'%}
  {% endfor %}
  <hr>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}